*{
	box-sizing: border-box;
}

html,body{
	height: 100vh;
	width: 100%;
}

body{
	display: block;
	position: relative;
	background-color: #BBECFF;
	background-repeat: no-repeat;
}


img{
	width: auto;
	height: 100%;
}

/* Ca-page & ca-register styling */


#ca-banner {
	position: relative;
	 
}

.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}

.resp-list {
	text-align: left;
}

.pt-list {
	text-align: left;
}

.resp-list > ul li{
	list-style-type: disc;
}

.divider {
	clear: both;
}

.form-frame {
	clear: right;
}
